# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vs/plank-progress-pal/FileContentIndex/adc81d68-2b12-4136-ad5f-662f750b6d04.vsidx
.vs/plank-progress-pal/v17/DocumentLayout.json
.vs/plank-progress-pal/v17/.wsuo
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
