# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vs/plank-progress-pal/FileContentIndex/adc81d68-2b12-4136-ad5f-662f750b6d04.vsidx
.vs/plank-progress-pal/v17/DocumentLayout.json
.vs/plank-progress-pal/v17/.wsuo
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/plank-progress-pal/FileContentIndex/aeda9923-a264-4cb6-a7d2-c8cb842b0e24.vsidx
.vs/plank-progress-pal/FileContentIndex/c591673a-7485-4212-ba7c-6128ddd4838b.vsidx
.vs/plank-progress-pal/FileContentIndex/d4a29a60-9b4c-4dae-8584-38bc4b76482e.vsidx
.vs/plank-progress-pal/FileContentIndex/d9f40647-8056-4110-80bc-218d86674a21.vsidx
.vs/plank-progress-pal/FileContentIndex/997db59a-4e89-4f3d-9313-6b5c32ffde4e.vsidx
.vs/plank-progress-pal/FileContentIndex/560326b2-0e4c-4a51-b990-05cd660eb1fe.vsidx
.vs/plank-progress-pal/FileContentIndex/a9b2f24a-f6f5-4588-b964-eaf79e2b4a85.vsidx
.vs/plank-progress-pal/FileContentIndex/eacb42cd-f4ea-440f-9e9b-4b25e7c64fa1.vsidx
.vs/plank-progress-pal/FileContentIndex/73a15ddd-e938-49e8-af60-daf9901cc910.vsidx
.vs/plank-progress-pal/FileContentIndex/cd6925ec-fc77-40d9-a255-58bb1f73d88c.vsidx
.vs/plank-progress-pal/FileContentIndex/74edd627-ae0c-4908-8815-096af2c3d29c.vsidx
.vs/plank-progress-pal/FileContentIndex/08cae508-f0c6-4387-94d8-7d570c9a64aa.vsidx
.vs/plank-progress-pal/FileContentIndex/0227a7dc-8883-405b-8245-de70348782a8.vsidx
.vs/plank-progress-pal/FileContentIndex/5b15621b-dcf9-412d-9c7f-234f949c3bd3.vsidx
.vs/plank-progress-pal/FileContentIndex/89fd559f-f0f2-450f-8df2-10cd9b2cd44f.vsidx
.vs/plank-progress-pal/FileContentIndex/e3574227-e08d-4cd8-a21b-d903a78af27c.vsidx
